.searcbar{
    width: 100%;
    margin-bottom: 25px;
    border: 1px solid #7c7c7c;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.searcbar input{
    width: 90%;
    height: 50px;
    font-size: 16.5px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.searchbar-icon{
    font-size: 35px;
    padding-left: 10px;
    color: #7c7c7c;
}